* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
}

a:hover {
  color: black;
}

.selected {
  color: black;
}

body {
  margin: 0;
}

body button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  height: 35px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 500ms ease-in-out 0s, -webkit-box-shadow;
  transition: background-color 500ms ease-in-out 0s, -webkit-box-shadow;
  transition: box-shadow, background-color 500ms ease-in-out 0s;
  transition: box-shadow, background-color 500ms ease-in-out 0s, -webkit-box-shadow;
}

body button:hover {
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

body select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  height: 35px;
  font-weight: bold;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

body input {
  height: 30px;
  padding: 5px;
  height: 35px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

body .menu {
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .menu .login-menu {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 0 6px;
  padding: 0 0 0 10px !important;
}

body .menu .login-menu .login-selected {
  color: #d62b2b;
}

body .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

body .menu ul li {
  padding: 0 5px;
}

body .tabelas-centralizar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .tabelas-select {
  margin: 10px;
}

body .tabelas-select .tabelas-select-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 5px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .tabelas-select .tabelas-select-form .tabelas-select-tabelas-filtro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .tabelas-select .tabelas-select-form .filtro_produtos_marca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 0;
  width: 100%;
}

body .tabelas-select .tabelas-select-form .filtro_produtos_marca input[type='text'] {
  width: 100%;
}

body .tabelas-select .tabela-select,
body .tabelas-select .ordem_lista {
  margin: 0 10px 0 0;
  width: 100%;
  text-transform: capitalize;
}

body .loading-centralizar {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .hl_data {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  line-height: 0.1em;
  margin: 10px 0 20px;
  text-transform: uppercase;
  position: relative;
}

body .hl_data .dataSpan {
  font-weight: bold;
  background-color: #fff;
  padding: 0 10px;
}

body .produtos-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body .produtos-cards .counterLista {
  font-size: small;
  font-weight: bold;
  margin: 5px 0;
  text-align: right;
}

body .produtos-cards .produto-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 10px 5px;
  padding: 10px;
  -webkit-transition: background-color 500ms ease-in-out 0s;
  transition: background-color 500ms ease-in-out 0s;
}

body .produtos-cards .produto-card .editar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

body .produtos-cards .produto-card .options-produto {
  width: 100%;
  position: absolute;
  height: 100%;
  margin: -10px;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 8;
}

body .produtos-cards .produto-card .options-produto .menu-editar-produto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .produtos-cards .produto-card .options-produto .menu-editar-produto div {
  margin: 0 5px;
}

body .produtos-cards .produto-card .options-produto .options-produto-fechar {
  position: absolute;
  top: 10px;
  right: 10px;
}

body .produtos-cards .produto-card h3 {
  margin: 5px 0;
}

body .produtos-cards .produto-card .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr min-content;
      grid-template-columns: 1fr -webkit-min-content;
      grid-template-columns: 1fr min-content;
  -ms-grid-rows: min-content 1fr 1fr;
      grid-template-rows: -webkit-min-content 1fr 1fr;
      grid-template-rows: min-content 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: 'Data Data' 'Detalhes Funcoes' 'Detalhes Funcoes';
  width: 100%;
}

body .produtos-cards .produto-card .grid-container .Detalhes {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: Detalhes;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .produtos-cards .produto-card .grid-container .Detalhes .marcadoresDetalhes {
  font-weight: bold;
  font-size: x-small;
}

body .produtos-cards .produto-card .grid-container .Detalhes .detalhes-marca-preco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .produtos-cards .produto-card .grid-container .Detalhes .detalhes-marca-preco .marca-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body .produtos-cards .produto-card .grid-container .Detalhes .detalhes-marca-preco .marca-item .tipodeProduto {
  margin: 0 0 5px 0;
}

body .produtos-cards .produto-card .grid-container .Detalhes .detalhes-marca-preco .marca-item .marca {
  word-break: break-word;
}

body .produtos-cards .produto-card .grid-container .Detalhes .detalhes-marca-preco .preco-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  font-weight: bold;
  font-size: x-large;
}

body .produtos-cards .produto-card .grid-container .Data {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Data;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

body .produtos-cards .produto-card .grid-container .Data .detalhes-empresa {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body .produtos-cards .produto-card .grid-container .Data .detalhes-data {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: small;
}

body .produtos-cards .produto-card .grid-container .Funcoes {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: Funcoes;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0;
}

body .produtos-cards .produto-card .grid-container .Funcoes button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body .produtos-cards .produto-card .grid-container .Funcoes button:first-child {
  margin: 0 0 5px 0;
}

body .produtos-cards .produto-card:hover,
body .produtos-cards .produtod-card:active {
  background-color: rgba(0, 0, 0, 0.05);
}

body .coleta-selecao {
  margin: 10px;
}

body .coleta-selecao .avoid-overlaping {
  margin: 80px;
}

body .coleta-selecao .form-coleta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0;
  overflow: auto;
}

body .coleta-selecao .form-coleta input {
  width: 100%;
}

body .coleta-selecao .form-coleta .lista-busca-filtrada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .coleta-selecao .form-coleta .lista-busca-filtrada div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .coleta-selecao .form-coleta .lista-busca-filtrada .form-coleta-filtros {
  width: 100%;
}

body .coleta-selecao .form-coleta .lista-busca-filtrada .form-coleta-filtros select {
  width: 100%;
}

body .coleta-selecao .form-coleta .lista-busca-filtrada .form-coleta-filtros div:first-child {
  margin: 0 10px 0 0;
}

body .coleta-selecao .form-coleta .lista-busca-filtrada .form-coleta-filtros div {
  width: 100%;
}

body .coleta-selecao .form-coleta .lista-busca-filtrada .form-coleta-acao-filtrar {
  width: 100%;
  margin: 10px 10px 0 10px;
}

body .coleta-selecao .form-coleta .lista-busca-filtrada .form-coleta-acao-filtrar .form-acao-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 10px 0 0;
}

body .coleta-selecao .form-coleta .lista-filtro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

body .coleta-selecao .form-coleta .lista-filtro input {
  margin-right: 5px;
}

body .background-adicionar-dados {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

body .background-adicionar-dados .fechar-form-coleta {
  position: absolute;
  top: 10px;
  right: 10px;
}

body .background-adicionar-dados .adicionar-dados-coleta {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
}

body .background-adicionar-dados .adicionar-dados-coleta span {
  font-weight: bold;
}

body .background-adicionar-dados .coleta-empresa select {
  width: 100%;
  height: 30px;
  margin: 5px 0;
}

body .background-adicionar-dados input[type='text'] {
  width: 100%;
  font-weight: bold;
  margin: 5px 0;
}

body .itens-toast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  background-color: gray;
  color: #fff;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

body .alerta-anim {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

body .floatButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  -webkit-transition: border-color, -webkit-box-shadow 500ms ease-in-out 0s;
  transition: border-color, -webkit-box-shadow 500ms ease-in-out 0s;
  transition: border-color, box-shadow 500ms ease-in-out 0s;
  transition: border-color, box-shadow 500ms ease-in-out 0s, -webkit-box-shadow 500ms ease-in-out 0s;
  z-index: 8;
}

body .floatButton:hover,
body .floatButton::-moz-selection {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

body .floatButton:hover,
body .floatButton::selection {
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

body .coleta-vazia {
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: larger;
  color: black;
}

body .container-changelog {
  margin: 10px;
}

body .container-changelog .container-changelog-item {
  font-size: small;
  margin: 10px;
}

body .container-changelog .container-changelog-item .container-changelog-item-header {
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

body .container-changelog .container-changelog-item .container-changelog-item-conteudo .item-postagem {
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

body .container-changelog .container-changelog-item .container-changelog-item-conteudo .item-postagem li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .container-changelog .container-changelog-item .container-changelog-item-conteudo .item-postagem .item-edit {
  -webkit-transition: opacity 500ms ease-in-out 0s;
  transition: opacity 500ms ease-in-out 0s;
  opacity: 0;
  position: absolute;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container-changelog .container-changelog-item .container-changelog-item-conteudo .item-postagem .item-edit * {
  margin: 0 15px;
}

body .container-changelog .container-changelog-item .container-changelog-item-conteudo .item-postagem .item-changelog-comentario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: justify;
}

body .container-changelog .container-changelog-item .container-changelog-item-conteudo .item-postagem .item-changelog-comentario:active .item-edit,
body .container-changelog .container-changelog-item .container-changelog-item-conteudo .item-postagem :hover .item-edit {
  opacity: 1;
}

body .container-changelog .container-changelog-item .container-changelog-item-conteudo .list-green,
body .container-changelog .container-changelog-item .container-changelog-item-conteudo .list-yellow,
body .container-changelog .container-changelog-item .container-changelog-item-conteudo .list-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-changelog .container-changelog-item .container-changelog-item-conteudo .list-green::before,
body .container-changelog .container-changelog-item .container-changelog-item-conteudo .list-yellow::before,
body .container-changelog .container-changelog-item .container-changelog-item-conteudo .list-red::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: '\00ba';
  line-height: 25px;
  padding: 0 10px 0 0;
}

body .container-changelog .container-changelog-item .container-changelog-item-conteudo .list-green::before {
  color: #22a800;
}

body .container-changelog .container-changelog-item .container-changelog-item-conteudo .list-yellow::before {
  color: #dd9104;
}

body .container-changelog .container-changelog-item .container-changelog-item-conteudo .list-red::before {
  color: #ca2104;
}

body .container-changelog .container-changelog-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

body .formulario-changelog {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
}

body .formulario-changelog span {
  font-weight: bold;
}

body .formulario-changelog textarea {
  width: 100%;
  height: 200px;
  margin: 5px 0;
}

body .formulario-changelog .formulario-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .formulario-changelog .formulario-header div {
  font-weight: bold;
  text-transform: uppercase;
}

body .login-page-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .login-page-form .login-page-input-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}

body .login-page-form .login-page-input-text input {
  margin: 5px;
}

body .login-page-form .status-login {
  margin: 10px;
  background-color: red;
  padding: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
/*# sourceMappingURL=site.css.map */